# Exploring the Data - Bus Stops

Goh Si Hui  
September 8, 2024

# Getting Started

## Downloading the packages

In [ ]:
pacman::p_load(tmap, sf, DT, stplanr, tidyverse)

# Importing the Data

## Passenger Volume by Origin Destination Bus Stops

## Apr 2024

``` r
odbus_apr <- read_csv("data/aspatial/origin_destination_bus_202404.csv")
```

    Rows: 5667461 Columns: 7
    ── Column specification ────────────────────────────────────────────────────────
    Delimiter: ","
    chr (5): YEAR_MONTH, DAY_TYPE, PT_TYPE, ORIGIN_PT_CODE, DESTINATION_PT_CODE
    dbl (2): TIME_PER_HOUR, TOTAL_TRIPS

    ℹ Use `spec()` to retrieve the full column specification for this data.
    ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

## May 2024

``` r
odbus_may <- read_csv("data/aspatial/origin_destination_bus_202405.csv")
```

    Rows: 5731170 Columns: 7
    ── Column specification ────────────────────────────────────────────────────────
    Delimiter: ","
    chr (5): YEAR_MONTH, DAY_TYPE, PT_TYPE, ORIGIN_PT_CODE, DESTINATION_PT_CODE
    dbl (2): TIME_PER_HOUR, TOTAL_TRIPS

    ℹ Use `spec()` to retrieve the full column specification for this data.
    ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

## Jun 2024

``` r
odbus_jun <- read_csv("data/aspatial/origin_destination_bus_202406.csv")
```

    Rows: 5658443 Columns: 7
    ── Column specification ────────────────────────────────────────────────────────
    Delimiter: ","
    chr (5): YEAR_MONTH, DAY_TYPE, PT_TYPE, ORIGIN_PT_CODE, DESTINATION_PT_CODE
    dbl (2): TIME_PER_HOUR, TOTAL_TRIPS

    ℹ Use `spec()` to retrieve the full column specification for this data.
    ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Checking the data

## Apr 2024

``` r
glimpse(odbus_apr)
```

    Rows: 5,667,461
    Columns: 7
    $ YEAR_MONTH          <chr> "2024-04", "2024-04", "2024-04", "2024-04", "2024-…
    $ DAY_TYPE            <chr> "WEEKENDS/HOLIDAY", "WEEKDAY", "WEEKENDS/HOLIDAY",…
    $ TIME_PER_HOUR       <dbl> 16, 16, 14, 14, 17, 17, 17, 17, 7, 17, 14, 10, 20,…
    $ PT_TYPE             <chr> "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "…
    $ ORIGIN_PT_CODE      <chr> "04168", "04168", "80119", "80119", "44069", "4406…
    $ DESTINATION_PT_CODE <chr> "10051", "10051", "90079", "90079", "17229", "1722…
    $ TOTAL_TRIPS         <dbl> 2, 9, 6, 8, 1, 2, 17, 2, 6, 2, 5, 3, 7, 1, 5, 2, 1…

## May 2024

``` r
glimpse(odbus_may)
```

    Rows: 5,731,170
    Columns: 7
    $ YEAR_MONTH          <chr> "2024-05", "2024-05", "2024-05", "2024-05", "2024-…
    $ DAY_TYPE            <chr> "WEEKDAY", "WEEKENDS/HOLIDAY", "WEEKDAY", "WEEKDAY…
    $ TIME_PER_HOUR       <dbl> 17, 10, 10, 7, 7, 11, 16, 16, 16, 5, 11, 11, 18, 1…
    $ PT_TYPE             <chr> "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "…
    $ ORIGIN_PT_CODE      <chr> "24499", "65239", "65239", "23519", "23519", "5250…
    $ DESTINATION_PT_CODE <chr> "22221", "65159", "65159", "23311", "23311", "4204…
    $ TOTAL_TRIPS         <dbl> 3, 3, 3, 1, 1, 2, 15, 3, 2, 1, 2, 4, 5, 4, 9, 43, …

## Jun 2024

``` r
glimpse(odbus_jun)
```

    Rows: 5,658,443
    Columns: 7
    $ YEAR_MONTH          <chr> "2024-06", "2024-06", "2024-06", "2024-06", "2024-…
    $ DAY_TYPE            <chr> "WEEKENDS/HOLIDAY", "WEEKDAY", "WEEKENDS/HOLIDAY",…
    $ TIME_PER_HOUR       <dbl> 21, 17, 9, 14, 13, 6, 0, 22, 8, 18, 12, 19, 10, 10…
    $ PT_TYPE             <chr> "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "…
    $ ORIGIN_PT_CODE      <chr> "82159", "98299", "43051", "59479", "52069", "2142…
    $ DESTINATION_PT_CODE <chr> "01119", "97051", "44389", "59509", "52189", "0917…
    $ TOTAL_TRIPS         <dbl> 1, 43, 7, 1, 20, 2, 2, 3, 36, 15, 1, 2, 65, 1, 11,…

Convert the origin and destination codes into factors

## Apr 2024

``` r
odbus_apr$ORIGIN_PT_CODE <- as.factor(odbus_apr$ORIGIN_PT_CODE)

odbus_apr$DESTINATION_PT_CODE <- as.factor(odbus_apr$DESTINATION_PT_CODE)

glimpse(odbus_apr)
```

    Rows: 5,667,461
    Columns: 7
    $ YEAR_MONTH          <chr> "2024-04", "2024-04", "2024-04", "2024-04", "2024-…
    $ DAY_TYPE            <chr> "WEEKENDS/HOLIDAY", "WEEKDAY", "WEEKENDS/HOLIDAY",…
    $ TIME_PER_HOUR       <dbl> 16, 16, 14, 14, 17, 17, 17, 17, 7, 17, 14, 10, 20,…
    $ PT_TYPE             <chr> "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "…
    $ ORIGIN_PT_CODE      <fct> 04168, 04168, 80119, 80119, 44069, 44069, 20281, 2…
    $ DESTINATION_PT_CODE <fct> 10051, 10051, 90079, 90079, 17229, 17229, 20141, 2…
    $ TOTAL_TRIPS         <dbl> 2, 9, 6, 8, 1, 2, 17, 2, 6, 2, 5, 3, 7, 1, 5, 2, 1…

## May 2024

``` r
odbus_may$ORIGIN_PT_CODE <- as.factor(odbus_may$ORIGIN_PT_CODE)

odbus_may$DESTINATION_PT_CODE <- as.factor(odbus_may$DESTINATION_PT_CODE)

glimpse(odbus_may)
```

    Rows: 5,731,170
    Columns: 7
    $ YEAR_MONTH          <chr> "2024-05", "2024-05", "2024-05", "2024-05", "2024-…
    $ DAY_TYPE            <chr> "WEEKDAY", "WEEKENDS/HOLIDAY", "WEEKDAY", "WEEKDAY…
    $ TIME_PER_HOUR       <dbl> 17, 10, 10, 7, 7, 11, 16, 16, 16, 5, 11, 11, 18, 1…
    $ PT_TYPE             <chr> "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "…
    $ ORIGIN_PT_CODE      <fct> 24499, 65239, 65239, 23519, 23519, 52509, 03151, 5…
    $ DESTINATION_PT_CODE <fct> 22221, 65159, 65159, 23311, 23311, 42041, 11161, 5…
    $ TOTAL_TRIPS         <dbl> 3, 3, 3, 1, 1, 2, 15, 3, 2, 1, 2, 4, 5, 4, 9, 43, …

## Jun 2024

``` r
odbus_jun$ORIGIN_PT_CODE <- as.factor(odbus_jun$ORIGIN_PT_CODE)

odbus_jun$DESTINATION_PT_CODE <- as.factor(odbus_jun$DESTINATION_PT_CODE)

glimpse(odbus_jun)
```

    Rows: 5,658,443
    Columns: 7
    $ YEAR_MONTH          <chr> "2024-06", "2024-06", "2024-06", "2024-06", "2024-…
    $ DAY_TYPE            <chr> "WEEKENDS/HOLIDAY", "WEEKDAY", "WEEKENDS/HOLIDAY",…
    $ TIME_PER_HOUR       <dbl> 21, 17, 9, 14, 13, 6, 0, 22, 8, 18, 12, 19, 10, 10…
    $ PT_TYPE             <chr> "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "BUS", "…
    $ ORIGIN_PT_CODE      <fct> 82159, 98299, 43051, 59479, 52069, 21421, 81029, 2…
    $ DESTINATION_PT_CODE <fct> 01119, 97051, 44389, 59509, 52189, 09179, 07211, 2…
    $ TOTAL_TRIPS         <dbl> 1, 43, 7, 1, 20, 2, 2, 3, 36, 15, 1, 2, 65, 1, 11,…

## Geospatial Data

In [ ]:
busstop <- st_read(dsn = "data/spatial",
                   layer = "BusStop")

Reading layer `BusStop' from data source
  `C:\sihuihui\mitbcapstone\notebooks\data\spatial' using driver `ESRI Shapefile'
Simple feature collection with 5166 features and 3 fields
Geometry type: POINT
Dimension:     XY
Bounding box:  xmin: 3970.122 ymin: 26482.1 xmax: 48285.52 ymax: 52983.82
Projected CRS: SVY21

Rows: 5,166
Columns: 4
$ BUS_STOP_N <chr> "65059", "16171", "61101", "01239", "17269", "11291", "1153…
$ BUS_ROOF_N <chr> "B12", "B06", "NIL", "B01", "B01", "B17", "B12", "B05", "B0…
$ LOC_DESC   <chr> "ST ANNE'S CH", "YUSOF ISHAK HSE", "BLK 120", "SULTAN PLAZA…
$ geometry   <POINT [m]> POINT (35565.66 41659.52), POINT (21439.91 31253.63),…

In [ ]:
busstop <- st_transform(busstop, crs = 3414)
glimpse(busstop)

Rows: 5,166
Columns: 4
$ BUS_STOP_N <chr> "65059", "16171", "61101", "01239", "17269", "11291", "1153…
$ BUS_ROOF_N <chr> "B12", "B06", "NIL", "B01", "B01", "B17", "B12", "B05", "B0…
$ LOC_DESC   <chr> "ST ANNE'S CH", "YUSOF ISHAK HSE", "BLK 120", "SULTAN PLAZA…
$ geometry   <POINT [m]> POINT (35565.66 41659.52), POINT (21439.91 31253.63),…

In [ ]:
busstop$BUS_STOP_N <- as.factor(busstop$BUS_STOP_N)
busstop

Simple feature collection with 5166 features and 3 fields
Geometry type: POINT
Dimension:     XY
Bounding box:  xmin: 3970.122 ymin: 26482.1 xmax: 48285.52 ymax: 52983.82
Projected CRS: SVY21 / Singapore TM
First 10 features:
   BUS_STOP_N BUS_ROOF_N                 LOC_DESC                  geometry
1       65059        B12             ST ANNE'S CH POINT (35565.66 41659.52)
2       16171        B06          YUSOF ISHAK HSE POINT (21439.91 31253.63)
3       61101        NIL                  BLK 120 POINT (31381.06 35313.49)
4       01239        B01             SULTAN PLAZA POINT (31152.55 31688.08)
5       17269        B01                  BLK 730  POINT (20134.2 31917.38)
6       11291        B17      COLD STORAGE JELITA POINT (22723.57 33349.85)
7       11531        B12 OPP LEA HIN HARDWARE FTY POINT (25112.11 30368.68)
8       46529        B05        OPP MARSILING STN POINT (21465.51 45974.12)
9       95151        B01       AIRPORT POLICE STN POINT (44529.73 36038.38)
10      71169        B01              AZTECH BLDG POINT (34541.04 34361.09)

In [ ]:
busstop <- write_rds(busstop, "data/rds/busstop.rds")

In [ ]:
mpsz <- st_read(dsn = "data/spatial",
                layer = "MPSZ-2019")

Reading layer `MPSZ-2019' from data source
  `C:\sihuihui\mitbcapstone\notebooks\data\spatial' using driver `ESRI Shapefile'
Simple feature collection with 332 features and 6 fields
Geometry type: MULTIPOLYGON
Dimension:     XY
Bounding box:  xmin: 103.6057 ymin: 1.158699 xmax: 104.0885 ymax: 1.470775
Geodetic CRS:  WGS 84

In [ ]:
mpsz <- st_transform(mpsz, crs = 3414)
mpsz

Simple feature collection with 332 features and 6 fields
Geometry type: MULTIPOLYGON
Dimension:     XY
Bounding box:  xmin: 2667.538 ymin: 15748.72 xmax: 56396.44 ymax: 50256.33
Projected CRS: SVY21 / Singapore TM
First 10 features:
                 SUBZONE_N SUBZONE_C       PLN_AREA_N PLN_AREA_C       REGION_N
1              MARINA EAST    MESZ01      MARINA EAST         ME CENTRAL REGION
2         INSTITUTION HILL    RVSZ05     RIVER VALLEY         RV CENTRAL REGION
3           ROBERTSON QUAY    SRSZ01  SINGAPORE RIVER         SR CENTRAL REGION
4  JURONG ISLAND AND BUKOM    WISZ01  WESTERN ISLANDS         WI    WEST REGION
5             FORT CANNING    MUSZ02           MUSEUM         MU CENTRAL REGION
6         MARINA EAST (MP)    MPSZ05    MARINE PARADE         MP CENTRAL REGION
7                   SUDONG    WISZ03  WESTERN ISLANDS         WI    WEST REGION
8                  SEMAKAU    WISZ02  WESTERN ISLANDS         WI    WEST REGION
9           SOUTHERN GROUP    SISZ02 SOUTHERN ISLANDS         SI CENTRAL REGION
10                 SENTOSA    SISZ01 SOUTHERN ISLANDS         SI CENTRAL REGION
   REGION_C                       geometry
1        CR MULTIPOLYGON (((33222.98 29...
2        CR MULTIPOLYGON (((28481.45 30...
3        CR MULTIPOLYGON (((28087.34 30...
4        WR MULTIPOLYGON (((14557.7 304...
5        CR MULTIPOLYGON (((29542.53 31...
6        CR MULTIPOLYGON (((35279.55 30...
7        WR MULTIPOLYGON (((15772.59 21...
8        WR MULTIPOLYGON (((19843.41 21...
9        CR MULTIPOLYGON (((30870.53 22...
10       CR MULTIPOLYGON (((26879.04 26...

In [ ]:
mpsz <- write_rds(mpsz, "data/rds/mpsz.rds")

# Geospatial Data Wrangling